@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body{
    background-image: url('/static/images/background/paper.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto Slab', serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 8px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin: 10px auto;
    text-align: center;

}
/* ---- Navbar -----*/
.navbar {
    background-color:rgba(135, 206, 250);
}
.brand-logo{
    margin: auto;
}

.side-nav > li:hover {
    background: rgba(0, 183, 255, 0.4);
}
.task-icon{
    margin-top: 10px;
}
.collapsible-body{
    margin: 5px 25px;
}

/* ---------- Footer -----------*/
.page-footer{
    background-color:rgb(105, 192, 247);
}
.list-inline{
  display: inline-block;
}
.footer-icons{
    margin: 15px 5px 0;    
    font-size: 20px;
}
.footer-icon {
    width: 45px;
    height: 45px;    
    border-radius: 50%;
    padding:18px 0;
    line-height: 7px;
    text-align: center;
    color: white;
    background: #ff2424d0;
    transition: all 0.35s ease-in-out;
}
.footer-icon:hover{
    background: rgb(94, 190, 250);
}