@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body{
    background-image: url('/static/images/background/paper.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto Slab', serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.btn_small {
    font-weight: 500;
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 8px 5px;
    padding: 0 0.5em;
    background-color: rgba(124, 113, 86, 0.35);
}
.btn{
    background-color: rgba(124, 113, 86, 0.35);
}
.done:hover{
    background-color: rgba(255, 0, 0, 0.5);
}
.edit:hover{
    background-color: rgba(0, 153, 255, 0.5);
}
.add:hover{
    background-color: rgba(0, 128, 0, 0.5)
}
.collapsible-header{
    background-color: rgba(255, 255, 255, 0.35);
}
.collapsible-body{
    background-color: rgba(255, 255, 255,0.15);
    margin: 0;
}
.task_header {
    margin: auto;
    text-align: center;

}
/* ---- Navbar -----*/
nav {
    color: black;
    background-color:rgb(255, 255, 255, 0.25);
    height:64px;
}
img{
    margin-left: 150px
}
.brand-logo{
    margin: auto;
}

nav ul a{
    margin: 0 35px;
    color: black;
}
.side-nav{
    background-color: rgba(255, 255, 255, 0.8);
}

.task-icon{
    margin-top: 10px;
}

/* ---------- Footer -----------*/
.page-footer{
    padding-bottom: 10px;
    color: rgb(39, 39, 39);
    background-color:rgba(255, 255, 255, 0.15);
}
.list-inline{
    display: inline-block;
}
.footer-icons{
    margin: 15px 5px 0;    
    font-size: 20px;
}
.footer-icon {
    width: 42px;
    height: 42px;    
    border-radius: 50%;
    padding:18px 0 14px;
    line-height: 7px;
    text-align: center;
    color: white;
    background-color: rgba(124, 113, 86, 0.4);
    transition: all 0.35s ease-in-out;
}
.footer-icon:hover{
    background-color: rgba(124, 113, 86, 0.75);
}
