@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body{
    font-family: 'Roboto Slab', serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 8px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin: 10px auto;
    text-align: center;

}
/* ---- Navbar -----*/
.navbar {
    background-color:rgba(135, 206, 250);
}
.brand-logo{
    margin: auto;
}

.side-nav > li:hover {
    background: rgba(0, 183, 255, 0.4);
}
.task-icon{
    margin-top: 10px;
}
.collapsible-body{
    margin: 5px 25px;
}