<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Task Manager - {{ tittle }}</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/41a908fb89.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='images/icon/logo-icon.png')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper navbar">
				<a href="{{url_for('get_tasks')}}" class="brand-logo left">
                <img src="{{url_for('static', filename='images/icon/logo-icon.png')}}" alt=""></a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="{{url_for('get_tasks')}}">Home</a></li>
					<li><a href="{{url_for('add_task')}}">Add Task</a></li>
					<li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
				</ul>
                
				<ul class="side-nav" id="mobile-demo">
					<li><a href="{{url_for('get_tasks')}}"><span>Home</span></a></li>
					<li><a href="{{url_for('add_task')}}"><span>Add Task</span></a></li>
					<li><a href="{{url_for('get_categories')}}"><span>Manage Categories</span></a></li>
				</ul>
			</div>
		</nav>
	</header>
    <main>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
    </main>
    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 >Roman Grubic</h5>
                <p class="text-lighten-4">Full-stack vermin from the Balkans looking to steal some Westerner's job but in the same time live off social welfare! </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 >Connect with me!</h5>
                <ul>
                  <li class="list-inline footer-icons"><a href="https://www.linkedin.com/in/roman-grubic-b835ab67/" target="-blank">
						<i class="fab fa-linkedin  footer-icon" aria-hidden="true"></i>
						<span class="sr-only">LinkedIn</span></a></li>
                  <li class="list-inline footer-icons"><a href="https://github.com/romangrubic" target="-blank">
						<i class="fab fa-github  footer-icon" aria-hidden="true"></i>
						<span class="sr-only">Github</span></a></li>
                  <li class="list-inline footer-icons"><i class="fas fa-envelope-open-text footer-icon" aria-hidden="true" data-toggle="modal" data-target="#contactModal"></i>
					<span class="sr-only">E-mail</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div>
            <div class="container center">
            © 2020 for Educational purposes only
            </div>
          </div>
        </footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="{{url_for('static', filename='javascript/script.js')}}" type="text/javascript"></script>
</body>

</html>